@font-face{
  font-family: 'SourceHanSerifSC-Heavy';
  src: url('./fonts/SourceHanSerifSC-Heavy.otf') format('truetype');
}

.search-text {
  font-size: 43px;
  width: 200px; /* no */
  color: green;
  font-family: 'SourceHanSerifSC-Heavy';
  display: flex;
}